body {
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
}

.button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3b82f6;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0097a7;
}