* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: linear-gradient(to right, #0f172a, #1e293b);
    font-family: Arial, sans-serif;
    color: white;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover {
    color: red;
}

.box {
    background: #111827;
    padding: 40px;
    border-radius: 15px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

.btn {
    background: blue;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: darkblue;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 4px solid white;
}

nav {
    background: #0f172a;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

img {
    margin-top: 15px;
    border: 3px solid white;
}

p {
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
}

form {
    width: 80%;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: none;
}

button {
    background: #2563eb;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}

.box {
    padding: 20px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 150px;
    align-self: center;
}

.box {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.projects li {
    margin: 15px 0;
}

.projects a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.projects a:hover {
    color: white;
}